<h3>
    An  occured while processing your request.
    The support team notify and we are working on fix
</h3>
<h5>
    please contact us an pragim@pragimtech.com
</h5>
<hr />
@*//// comment code 62 vedio//*@
@*<h3>Exception Details</h3>
    <div class="alert alert-danger">
        <h5>Exception Path</h5>
        <hr/>
        <p>@ViewBag.ExceptionPath</p>
    </div>
    <div class="alert alert-danger">
        <h5>Exception Message</h5>
        <hr />
        <p>@ViewBag.excemessage</p>
    </div>
    <div class="alert alert-danger">
        <h5>Exception Stack trace</h5>
        <hr />
        <p>@ViewBag.Stacktrace</p>
    </div>*@
@*//// close code 62 vedio//*@