@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "Not Found";
}
<!--//62 loggin //-->
@*<h1>@ViewBag.message</h1>
    <h1>@ViewBag.Path</h1>*@
<!--//close 62 loggin //-->
<hr />
<h1>@ViewBag.QS</h1>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">
    click here to navigate to home page
</a>